@model BesserLernen.Web.ViewModels.SurveyQuestionViewModel

<tr>
    <td>@Model.Title</td>
    <td>
        <input asp-for="QuestionId" type="hidden"/>

        <label>
            <input asp-for="AnsweredYes" type="radio" value="true"/>
            Ja
        </label>
        <label>
            <input asp-for="AnsweredYes" type="radio" value="false"/>
            Nein
        </label>
    </td>
</tr>
