@model BesserLernen.Web.ViewModels.SurveyQuestionViewModel

<tr>
    <td>@Model.Title</td>
    <td>
        @Html.HiddenFor(p => p.QuestionId)
        <for></for>
        <label>
            <input asp-for="AnsweredYes" type="radio" value="true"/>
            Ja
        </label>
        <label>
            <input asp-for="AnsweredYes" type="radio" value="false"/>
            Nein
        </label>
    </td>
</tr>
